MID_INSTANCE_URL=
MID_INSTANCE_USERNAME=
MID_INSTANCE_PASSWORD=
MID_SECRETS_FILE=
MID_SERVER_NAME=
MID_PROXY_HOST=
MID_PROXY_PORT=
MID_PROXY_USERNAME=
MID_PROXY_PASSWORD=
MID_MUTUAL_AUTH_PEM_FILE=
MID_SSL_BOOTSTRAP_CERT_REVOCATION_CHECK=
MID_SSL_USE_INSTANCE_SECURITY_POLICY=
